<div class="container">
<h1>ABOUT</h1>

<h4 class="mt-5"><b>About Me</b> </h4>
<p>I'm Yordan Saldaña. I'm a Web Developer. Here I'm focus in STACK MERN ( MongoDB, Express, Reactjs, Nodejs)</p>

<h4 class="mt-5"><b>About the App</b> </h4>
<p>This app is part of my portafolio</p>
</div>
