<div class="container">
  <h1>Features</h1>
  <div class="row">
    <div class="card text-white bg-primary mb-3 col-6" style="max-width: 18rem;">
      <div class="card-header"><b>Modules use:</b></div>
      <div class="card-body">

        <p class="card-text">
          bcryptjs<br />
          connect-flash<br />
          dotenv<br />
          express<br />
          express-handlebars<br />
          express-session<br />
          method-override<br />
          mongoose<br />
          morgan<br />
          passport<br />
          passport-local<br />
        </p>
      </div>
    </div>

    <div class="card text-white bg-primary md-3 col-6 ml-3" style="max-width: 18rem;">
      <div class="card-header">Object</div>
      <div class="card-body">
        <h5 class="card-title">App Function</h5>
        <p class="card-text">The object of this app is login with a user and
          them you can make a CRUD (create,read,update and delete) notes. only
          with the correct user</p>
      </div>
    </div>
  </div>
</div>