<div class="col-md-5 mx-auto">
  <h1 class="text-center">Editar Nota</h1>
  <p>aca crearemos un formulario para editar las notas</p>
  <div class="card">
    <div class="card-body">
      <form action="/notes/edit/{{note._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
          <p>id:{{note._id}}</p>
        <div class="form-group">
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Title"
            value="{{note.title}}"
            autofocus
          />
        </div>
        <div class="form-group">
          <textarea
            name="description"
            placeholder="Description"
            class="form-control"
          >
            {{note.description}}
          </textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
          <a href="/notes/all" class="btn btn-primary btn-block">Candelar</a>
        </div>
      </form>
    </div>
  </div>
</div>